streamlit
pandas
numpy
scikit-learn
scipy
pymupdf
docx2txt
spacy
sentence-transformers
# spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
re
fitz